<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rizary's Blog</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>

    <body>
        <div id="header">
            <div id="logo">
                <a href="/index.html">My Hakyll Blog</a>
            </div>
            <div id="navigation">
                <a href="/index.html">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/blog/index.html">Blog</a>
            </div>
        </div>

        <div class="clear"></div>

            $body$

        <div class="clear"></div>

        <div id="footer">
        </div>
    </body>
</html>
